h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.signup span {
  border: 1px solid gray;
  font-size: 30px;
}
.signup a {
  border: 1px solid gray;
  font-size: 30px;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 25px 25px;
  text-align: left;
}

input[name="login_summit1"] {
  background-color: tomato;
}

.login_summit2 {
  background-color: aqua;
  border: 1px solid black;
  text-decoration: none;
  width: 60px;
  height: 30px;
}

form div input {
  display: flex;
  flex-direction: row;
  background-color: teal;
  color: white;
  border: 1px solid black;
  margin: 1px;
  width: 60px;
  height: 30px;
}
